div.overlay_class {
    display:none;
    position:fixed;
    left:40px;
    top:80px;
    width:auto;
    border-radius: 25px;
    border: 2px;
    padding: 10px;
    height:80px;
    background:#AAA;
    color: #000;
    z-index:5;
}

div.context_class {
    display:none;
    position:fixed;
    left:40px;
    top:80px;
    width:auto;
    border-radius: 25px;
    border: 2px;
    padding: 10px;
    height:80px;
    background:#EEE;
    color: #000;
    z-index:6;
}

div.cancel_overlay {
    background: (0,0,0,0);
    z-index:5;
    position:absolute;
    width:100%;
    height:100%;
    display:none;
}

div.contextElm {
    cursor: pointer;
    margin: 5px 5px;
    color: #000;
    /*text-decoration: underline;*/
    font-weight: bold;
    
}


button.button {
    border-radius: 5px;
    border: 2px solid;
    height: 100%;
    width: 55px;
}

div.posString {
    color:red;
    text-align:center;

}
