<div>
            
            <div id="top_map" style="height:500px;"></div>
            <script>
		var plotCoordinates = undefined;
                g_meter = undefined;
                plotArea2 = undefined;
                function initMap() {
                    var map = new google.maps.Map(document.getElementById('top_map'), {
                        zoom: 50,
                        center: { lat: 37.9, lng: -122.645 },
                        mapTypeId: 'roadmap',
                        disableDefaultUI: true,
                        zoomControl: true,
                        draggable: true,
                        clickableIcons: false,
                        styles: [{
                            featureType: "poi", elementType: "labels",
                            stylers: [{ visibility: "off" }]
                        }]
                    });
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    var tl = urlParams.get("tl").split(",");
                    tl = [parseFloat(tl[0]), parseFloat(tl[1])];
                    var br = urlParams.get("br").split(",");
                    br = [parseFloat(br[0]), parseFloat(br[1])];

                    var coords = [[tl[0], tl[1]], [br[0], tl[1]],
                                  [br[0],br[1]], [tl[0], br[1]] ];

                    plotCoordinates = [
                      {"lat": coords[0][0], "lng": coords[0][1]},
                      {"lat": coords[1][0], "lng": coords[1][1]},
                      {"lat": coords[2][0], "lng": coords[2][1]},
                      {"lat": coords[3][0], "lng": coords[3][1]},
                      {"lat": coords[0][0], "lng": coords[0][1]},
                    ];

                    var plotArea = new google.maps.Polyline({
                        path: plotCoordinates,
                        geodesic: true,
                        strokeColor: '#FF0000',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    var bounds = new google.maps.LatLngBounds();
                    for (var i = 0; i < plotCoordinates.length; i++) {
                        bounds.extend(plotCoordinates[i]);
                    }

                    map.fitBounds(bounds);
                    plotArea.setMap(map);

                    //Add listener
                }
                g_lat = 0;
                g_lon = 0;

            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV0f5Wo9y4iDf5UdPpx9TL6LWgNxaIOuU&callback=initMap"></script>
</div>
